.DS_Store
.gitignore
# Some history files
.#*.java.*
log/*
tmp/*
*.class


/.classpath
/temp/
/tmp/

\.idea/

*.iml

QA_Output
qa_weekly

reactome_base_sonatype/*.asc
reactome_base_sonatype/dist/lib/
reactome_base_sonatype/classes/
reactome_base_sonatype/dist/javadoc/
reactome_base_sonatype/dist/META-INF/